build/CMakeCache.txt
build/cmake_install.cmake
build/Makefile
build/CMakeFiles/*
build/lib/*
build/bin/*
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/computervision.dir/
build/computervision.sln
build/computervision.vcxproj
build/computervision.vcxproj.filters
build/x64/